.scrollContainer {
  min-height: 200px;
  width: 350px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background: #f9f9f9;
  position: relative;
  scroll-behavior: smooth;
}

.scrollContent {
  margin-bottom: 1rem;
}

.scrollButton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.scrollButton:hover {
  background-color: #0056b3;

  box-shadow: 1px 4px 8px rgb(255, 255, 255);
}