.btn {
    margin: 2rem;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: gray;
    color: white;
    transition: .3s;
    border-radius: 10px;
}

.btn.activo {
    background-color: green;
}