.lista-alumnos {
     background-color: #eee;
    padding: 2px;
    border-radius: 10px;
    width: 15vw; 
    height: 40vh; 
    font-size: 16px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, font-size 0.5s ease-in-out, margin 0.5s ease-in-out;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 22px;
}
.alumno {
    padding: 8px 16px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
.size {
    width: 18vw;
    height: 55vh;
    font-size: 25px;
    font-weight: bold;
    margin: 16px;
}