.button {
    width: 8vw;
    height: 3vw;
    background-color:rgba(252, 57, 57, 0.559);
    color: #fafafa;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.thumbs{
    background: rgba(162, 162, 162, 0.534);
    font-size: 3rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thumbs:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px black;
}