.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatarimg {
    border-radius: 100%;
    margin: 2rem;
}
span {
    border-radius: 10px;
    background-color: #fff;
    margin: .8rem;
    font-size: 2rem;
    padding: 1rem;
}