.tareas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgb(237, 237, 237) 0%, rgb(108, 108, 108) 100%);
    width: 30vw;
    border-radius: 20px;
    padding: 20px;
    margin: 4rem;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.lista-tareas {
    list-style: none;
}

.tarea-item {
    margin: 1.25rem;
    font-size: 1.5rem;
    color: #555;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    float:right;
    margin : 0 1rem;
}