body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #373737;
}

.title {
  margin: 0 0 2.5rem 0;
  color: #373737;
  font-size: 3rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: #e0e5ec;
  border-radius: 20px;
  width: 25vw;
  height: 55vh;
  box-shadow: 8px 8px 15px #a3b1c6, 0 0 20px #ffffff;
  margin: 3rem;
  padding: 2rem;
}

.button {
  background-color: #e0e5ec;
  color: #2d3436;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 5vw;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #a3b1c6, 0 0 20px #ffffff;
}

button:hover {
  box-shadow: 2px 2px 4px #a3b1c6, -2px -2px 4px #ffffff;
  transform: translateY(2px);
}

.display {
  width: 80%;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #e0e5ec;
  color: #2d3436;
  box-shadow: inset 4px 4px 8px #a3b1c6, inset -4px -4px 8px #ffffff;
}

@media (min-width: 1024px) {
  .title {
    font-size: 3rem;
  }
  .calculator {
    width: 30vw;
    height: 55vh;
  }
  .button {
    width: 5vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
 
  .calculator {
    width: 40vw;
    height: 55vh;
  }
  .button {
    width: 8vw;
    font-size: 1.5rem;
    margin: 0.25rem;
  }
  .display {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .calculator {
    width: 90vw;
    height: 70vh;
  }
  .button {
    width: 12vw;
    font-size: 2.2rem;
    margin: 0.5rem;
  }
  .display {
    font-size: 3rem;
    padding: .2rem;
  }
  .title {
    font-size: 3rem;
  }
}
