.navbar {
  background-color: #0077cc;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 0 0 0;
  color: #fafafa
}

.navbar__menu {
  display: flex;
  gap: 1.5rem;
}

.navbar__link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.navbar__link:hover {
  opacity: 0.8;
}